/* CSS de la page contaxt */

#main-presentation {
    margin: 0 auto;
}

#presentation-div-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:  45vw;
    height: 422PX;
    margin: 50px auto 0;
    background-color: rgba(53, 45, 45, 0.3);
    border-radius: 10px;
    padding-left: 1%;
}

.section-presentation-img {
    display: flex;
}

.section-presentation-img img {
    width: 450px;
    border-radius: 10px;
}

.section-presentation-biographie {
    text-align: justify;
    width: 300px;
    margin: 0 auto;
}


#ul1{
    color: white;
}

#ul0{
    color: gold;
}

.mosaic-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
}

.flex-item {
    flex: 1 1 200px;
    overflow: hidden;
    border-radius: 20px;
}

.flex-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.flex-item img:hover {
    transform: scale(1.1);
}

.arrow-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 2s infinite;
}

.arrow-down span {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #000;
}

h2{
    padding-bottom:7%;
    color: gold;
}

#img1{
    object-fit: cover;
    height: 380px;
}

#aa1{
    padding-left: 5%;
    padding-right: 5%;
}

.s00{
   height: 80vh;
   scrollbar-width: none;

    
}

.div2{
display:flex;
justify-content: space-around;
display: flex;
  flex-direction: column;
}

H3{

    align-items: center;
    color: gold;
    text-align: center;
    padding-bottom: 15px;
    font-size: 2rem;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

.divi2 {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  gap: 5px;
}

input, textarea, select {
    color: black;
}

button {
    width: 150px;
    color: black;
    margin: 0 auto;
    padding: 5px 0;
    cursor: pointer;
}