/* CSS global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(230, 230, 230);
}

body {
    position: relative;
    background-color: rgb(20, 20, 20);
}

h1 {
    text-align: center;
    font-size: 8rem;
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-presentation-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 150px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    margin: 10px 0;
}

.section-presentation-link a {
    color: black;
    padding: 0 20px;
    font-weight: bold;
    transition: bow-shadow 0.4s ease-in-out;
}

.section-presentation-link a:hover {
    box-shadow: 0 0 5px 2px rgb(230, 230, 230);
    cursor: pointer;
    border-radius: 30%;
}

/* CSS de la page actualité */

.diapo-div-principal {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    gap: 30px;
}

.diapo-img {
    column-count: 4;
}

.diapo-img img {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}

video {
    width: 100%;
    margin: 10px 0;
    flex-shrink: 0;
}